body{
    background-color:rgb(229, 203, 172);
}
h1{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    color: red;
}
.header-1{
    font-size: 18px;
    margin-left:30px;
}
#page-div h3{
    font-size: 20px ;
    font-family: sans-serif;
    font-weight: bold;
}
.quote{
    font-style: oblique;
    font-weight: bold;
    color: darkblue;
    border-style: dashed;
    border-width: 3px;
    font-weight: bold;
    font-family: serif;
}
#page-header h2 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(240, 138, 13);
}
section{
    padding: 10px;
    margin-left: 8px;
    background-color: lightblue;
    font-size: 20px;
    font-family: cursive;
    font-style: oblique;
    color: grey;
}
div,
main{
    padding: 10px;;
    border-width: 6px;
    border-style:solid;
    border-color: rgb(255, 238, 0);
}
.quote-second{
    margin-left:5px;
    font-style: oblique;
    font-family: sans-serif;
}
hr{
    border-width: 1px;
    height:2px;
    background-color: rgb(111, 155, 249);
}
article,
.article-1,
.article-2,
.article-3{
    font-size: 16px;
    font-weight:bold;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    border-width: 4px;
    border-style:solid;
    border-color: rgb(111, 155, 249);
}

div,
article,
.article-1,
.article-2,
.article-3{
    padding:20px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.list-one,
.food{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: oblique;
    color: darkblue;
    padding:20px;
    margin-left:10px;
    border-radius: 6px;
}
a{
    background-color: rgb(181, 190, 144);
    border-radius: 5px;
    border-style: double;
}
a:hover{
    background-color: Red;
}